#game{
    width: 800px;
    height: 600px;
    border: 1px;
    border-color: black;
    background-color: lightblue;
    position: absolute;
    top: 7%;
    left: 12%;
}

#character{
    width: 35px;
    height: 35px;
    border: 3px;
    border-color: black;
    background-color: red;
}
